{% extends "_page.html" %}
{%hyde
    title: "Colophon"
%}
{% block page %}
This website is written in [Python][] using the [Hyde static website generator][hyde] based on  [Django][] templates. In addition to the default libraries, we use the following third-party applications:

* [Markdown][] converts text to HTML.
* [Typogrify][] provides some typographic *élan*.
* Image zooming is handled by Cabel Sasser's [FancyZoom][].

  [python]:http://www.python.org/
  [hyde]:http://github.com/lakshmivyas/hyde
  [django]:http://www.djangoproject.com/
  [markdown]:http://daringfireball.net/projects/markdown/
  [typogrify]:http://code.google.com/p/typogrify/
  [fancyzoom]:http://www.fancyzoom.com/

This site is hosted by [Linode][] and runs [Ubuntu Linux][ubuntu] using [Apache][]. DNS is handled by [Gandi][].

  [linode]:http://www.linode.com/?r=4be4bc35d12677cff12e393c9f4dd167d9eb6dfb
  [ubuntu]:http://www.ubuntu.com/
  [apache]:http://httpd.apache.org/
  [gandi]:http://www.gandi.net/

{% endblock %}