{% extends "_base.html" %}
{%hyde
    title: "Projects"
%}
{% block content_body %}
{% for node in page.node.walk %}
<div class="thumbs">
	{% for project in node.pages %}
	{% if project.display_in_list %}
	<div class="thumb">
		<a href="{{ project.url }}">{{ project.title|typogrify }}<img src="/media/projects/thumb.{{ project.images.0 }}" alt="{{ project.title }}" width="200" height="80"></a><p>{{ project.teaser|typogrify }}</p>
	</div>
	{%endif%}
	{% endfor %}
</div>
{% endfor %}
{% endblock %}